[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Subins Mani (Subinsmani)
[access "refs/for/refs/*"]
	read = group user/Subins Mani (Subinsmani)
	push = group user/Subins Mani (Subinsmani)
	label-Code-Review = -2..+2 group user/Subins Mani (Subinsmani)
	label-Verified = -1..+1 group user/Subins Mani (Subinsmani)
	rebase = group user/Subins Mani (Subinsmani)
	removeReviewer = group user/Subins Mani (Subinsmani)
	submit = group user/Subins Mani (Subinsmani)
[access "refs/heads/*"]
	read = group user/Subins Mani (Subinsmani)
	create = group user/Subins Mani (Subinsmani)
	push = +force group user/Subins Mani (Subinsmani)
	pushMerge = group user/Subins Mani (Subinsmani)
[access "refs/tags/*"]
	push = group user/Subins Mani (Subinsmani)
	push = +force group user/Subins Mani (Subinsmani)
